.suggestions {
	font-family: "PoiretOne", cursive;
	margin-top: 50px;
	h3 {
		font-size: 30px;
	}
	.suggList {
		background-color: rgba(9,28,50, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
}